body {
    background-size: 100%;
    font-family: 'Lexend', 'Noto Sans HK';
    font-size: 16px;
    text-align: center;
}
h1 {
    font-size: 36px;
}
table, th, td {
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}